@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin "@tailwindcss/typography";

* {
     font-family: var(--font-mangase-main);
     scroll-behavior: smooth;
     scrollbar-width: thin;
}


body {
     height: 100%;
     @apply bg-neutral-950 text-neutral-300
}


button, a {
     @apply hover:cursor-pointer
}


/* Map CSS variables into Tailwind's theme so utilities get generated */
@theme {
     --color-mangase-bg: var(--color-bg);
     --font-mangase-main: var(--font-main);
     --radius-mangase-rounded: 16px;
}

:root {
     --color-bg: linear-gradient(180deg,rgba(15, 15, 15, 1) 50%, rgba(0, 0, 0, 1) 100%);
     --font-main: 'Google Sans';
}


/* FONTFACES */
/* Google Sans */
@font-face {
     font-family: 'Google Sans';
     src: url('$lib/font/googlesans.ttf');
}
/* Special Elite */
@font-face {
     font-family: 'Special Elite';
     src: url('$lib/font/specialelite.ttf');
}
/* Instrument Serif */
@font-face {
     font-family: 'Instrument Serif';
     src: url('$lib/font/instrumentserif.ttf');
}