@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin "@tailwindcss/typography";


* {
     font-family: var(--font-mangase-main);
     scroll-behavior: smooth;
     scrollbar-width: none;
}


body {
     height: 100%;
     @apply bg-neutral-900 text-neutral-300
}


button, a {
     @apply hover:cursor-pointer hover:underline
}


/* FONTFACES */
/* Google Sans */
@font-face {
     font-family: 'Google Sans';
     src: url('$lib/font/googlesans.ttf');
}
/* Special Elite */
@font-face {
     font-family: 'Special Elite';
     src: url('$lib/font/specialelite.ttf');
}
/* Instrument Serif */
@font-face {
     font-family: 'Instrument Serif';
     src: url('$lib/font/instrumentserif.ttf');
}

/* Map CSS variables into Tailwind's theme so utilities get generated */
@theme {
     --color-mangase-bg: var(--color-bg);
     --font-mangase-main: var(--font-main)
}

/* Light theme (default) */
:root,

/* Sunset theme (custom example) */
[data-theme="sunset"] {
     --color-bg: #2d1b2e;
}

[data-theme="aaa"] {
     --color-bg: #49a746;
}

/* Light */
[data-theme="light"] {
     --color-bg: #c53434;
}

/* Dark theme */
[data-theme="dark"] {
     --color-bg: #000000;
     --font-main: "Google Sans"
}